* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    gap: 20px;
    grid-template: 30vh minmax(55vh, auto) 15vh / 1fr 4fr 1fr;
    background-color: rgb(241, 233, 241);
    font-family:Arial, Helvetica, sans-serif;
    justify-items: center;
}

.header, .footer {
    margin: 10px 0px;
    padding:30px;
    grid-column: 1 / 4;
}

.header {
    display: grid;
    min-width: 600px;
    grid-template: 2fr 1fr 1fr;
    justify-items: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 80px;
    font-weight: bolder;
}

.game-alert {
    max-width: 600px;
    padding: 10px;
    justify-self: center;
    font-family: 'Bigelow Rules', cursive;
    font-size: 36px;
    font-weight:bold;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
}

.form-popup {
    display: none;
    position: fixed;
    top: 150px;
    z-index: 9;
}

form {
    display: grid;
    gap: 10px;
    padding:20px;
    background-color:  #f7fff9;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

legend {
    font-family: 'Bigelow Rules', cursive;
    font-size: 24px;
    font-weight:bold;
    letter-spacing: 0.1em;
}

fieldset {
    display: grid;
    gap: 10px;
    /* align-items: center; */
    justify-items: center;
    padding: 10px;
    border:solid black 3px;
}

.computer {
    border: none;
    margin: 0;
    padding: 20;
}

label {
    font-size: 14px;
    letter-spacing: 0.2em;
}

.group {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    justify-self: center;
}

.group label {
    font-weight: bolder;
}

.board {
    border: solid 10px rgb(128, 71, 128);
    grid-column: 2 / 3;
    display: grid;
    gap: 10px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: rgb(128, 71, 128);
    aspect-ratio: 1 / 1;
}

.tile {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(191, 222, 231);
    font-size: 60px;
    font-weight: bold;
}

.footer {
    display: grid;
    grid-template-columns: 250px auto;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.3em;
}


button {
    justify-self: center;
    align-self: center;
    height:40px;
    padding:10px 40px;
    background-color:  rgb(85, 145, 163); 
    border: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 0.2em;
}

#reset {
    display: none;
}

#close-form {
    padding: 0;
    margin: -10px 0px -10px 0px;
    background: transparent;
    color: black;
    font-weight: bold;
    font-size: 36px;
    justify-self: end;
}

button:hover {
    opacity: 0.7;
}

span {
    display:block;
    text-align: center;
    width:225px;
    font-size: 10px;
    letter-spacing: 0.2em;
    color:red;
    border: none;
    text-transform: uppercase;
    overflow-wrap: break-word;
    margin-top: -10px;
}

